h1 {
  font-size: 64px;
  letter-spacing: 3px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 20px;
  margin-bottom: 40px;
  opacity: 0.6;
  font-weight: 600;
}

input::placeholder {
  font-style: italic;
  color: black;
  font-size: 18px;
}

.search-button {
  margin: 15px 0 70px 0;
}
