h1 {
  font-size: 64px;
  letter-spacing: 3px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 20px;
  margin-bottom: 40px;
  opacity: 0.6;
  font-weight: 600;
}

input::placeholder {
  font-style: italic;
  color: black;
  font-size: 18px;
}

.search-button {
  margin: 15px 0 70px 0;
}

.meaning {
  background-color: rgba(247, 231, 231, 0.448);
  margin-top: 20px;
  padding: 15px;
  font-size: 16px;
  border-radius: 5px;
}

.meaning .partOfSpeech {
  font-style: italic;
  font-weight: 600;
}

.meaning .definition {
  font-size: 18px;
}

.meaning .example {
  font-style: italic;
  margin-top: 20px;
}

.synonyms li {
  display: inline;
}

ul {
  padding: 0;
  margin-top: 10px;
}

.synonyms li {
  opacity: 0.6;
  margin-right: 10px;
  font-style: italic;
}
